<nav class="navbar bg-base-100 shadow-lg px-6 py-4 min-h-[4rem]">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-3xl font-bold text-primary">
            <img src="images/logo2.png" class="text-gray-600 h-12 w-12 mr-3" alt="MST Logo" />
            MST
        </a>
    </div>
    
    <div class="flex-none gap-6">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-lg btn-circle avatar">
                <div class="w-14 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="images/logo2.png" alt="Profile" />
                </div>
            </div>
        </div>
    </div>
</nav>
